body {
    background-color: #f5f5f5;
}

div.main {
    background-color: #FFFFFF;
	width: 870px;
    min-height: 800px;
    margin: auto;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
}

div.banner {
    width: 870px;
    min-height: 215px;
    background-image: url("top_bg.jpg");
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}

div.navigationbar {
	width: 870px;
    min-height: 25px;
    background-color: #505380;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}

div.navigationbar_dropdowns{
    margin-left: 19px;
}

div.mainbody {
	width: 830px;
    min-height: 580px;
    height: 100%;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #000000;
    border-right-width:  1px;
    border-right-style:  solid;
    border-right-color: #000000;
}

div.mainborders {
    width: 830px;
    min-height: 580px;
    height: 100%;
    background-color: #e5e5e5;
}

p.mainbody_text {
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 5px;
    margin-top: 0px;
}

div.product_box {
	margin: auto;
	width: 95%;
	height: 100px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
}

div.product_text {
	float: left;
}

div.product_header {
	font-size: 16px;
	font-weight: bold;
}

div.product_desc {
	font-size: 12px;

}

div.product_available {
	margin-top: 27px;
	font-size: 12px;
}

div.product_id {
	font-size: 12px;
}

div.product_price {
	margin-left: 50px;
	margin-right: 10px;
	font-size: 14px;
	font-weight: bold;
	float: right;
}

button.product_buy {
	margin-left: 10px;
}

img.thumb {
	float: left;
	width: 100px;
	margin-top: 5px;
	margin-bottom: 5px;
}

div.product_img {
	width: 120px;
	display: block;
	float: left;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}

div.footer {
    width:870px;
    min-height: 10px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #000000;
    background-color: #505380;
}

p.copyright_text {
    font-size: 12px;
    text-align: center;
    color: white;
    margin-top: 3px;
    margin-bottom: 0px;
    vertical-align: middle;
}